/* 
01 --- TYPHORGRAPHY  
    - Font sizes (px):
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 
    - Font weights:
    Default : 400
    500
    600
    700

    -Line heights:
    Default: 1
    Small: 1.05
    Phrargraph: 1.6
    1.8

02 --- COLORS
    Primary: #e67e22
    Tints: #fdf2e9
    Shades: #cf711f
    #fae5d3
    Accents:
    Greys: #555  #333

03 --- IMAGES

04 --- ICONS 

05 --- SHADOWS

06 --- BORDER RADIUS
Default: 7px

07 --- WHITESPACE

    SPACING SYSTEM (px):
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

strong {
    font-weight: 500;
}

.container {
    width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid {
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}

.grid-align-v {
    align-items: center;
}



.margin-right-sm {
    margin-right: 1.6rem !important;
}


.margin-bottom-md {
    margin-bottom: 4.8rem;
}

.text-center {
    text-align: center;
}



.heading-primary,
.heading-secondary,
.heading-tertiary {
    letter-spacing: -0.5px;
    color: #333;

}

.heading-primary {
    font-size: 5.2rem;
    margin-bottom: 4.8rem;
    line-height: 1.05;
}


.heading-secondary {
    font-size: 4.4rem;
    margin-bottom: 9.6rem;
}

.heading-tertiary {
    font-size: 3rem;
    margin-bottom: 2.4rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 6.4rem;
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 7px;

    transition: background-color 0.3s;
}

.btn--cta:link,
.btn--cta:visited {
    background-color: #e67e22;
}

.btn--cta:hover,
.btn--cta:active {
    background-color: #cf711f;
}

.btn--outline:link,
.btn-outline:visited {
    background-color: #fff;
    color: #555;
}

.btn--outline:hover,
.btn--outline:active {
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 3px #fff;
}


.link:link, .link:visited {
    text-decoration: none;
    color: #e67e22;
    padding-bottom: 2px;
    border-bottom: 1px solid currentColor;

    transition: all 0.3s;
    
}

.link:hover, .link:active {
    color: #cf711f;
    border-bottom: 1px solid transparent;
}
