/* BELOW 1344px (small desktop sizes) */

@media (max-width: 84em) {
    .hero {
        max-width: 120rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* BELOW 1200px (landscape Tablets) */

@media (max-width: 75em) {
    html {
        /* 9px */
        font-size: 56.25%;
    }

    .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }

    .heading-secondary {
        font-size: 3.6rem;
    }

    .heading-tertiary {
        font-size: 2.4rem;
    }

    .header {
        padding: 0 3.2rem;
    }

    .main-nav-list {
        gap: 3.2rem;
    }

    .hero {
        gap: 4.8rem;
    }

    .testimonials-container {
        padding: 9.6rem 3.2rem;
    }
}

/* BELOW 944px (tablets) */

@media (max-width: 59em) {
    html {
        font-size: 50%;
    }

    .hero {
        grid-template-columns: 1fr;
        gap: 6.4rem;
    }

    .hero-text-box,
    .hero-img-box {
        text-align: center;
    }

    .hero-img {
        width: 60%;
    }

    .delivered {
        justify-content: center;
        margin-top: 3.2rem;
    }

    .logos img {
        height: 2.4rem;
    }

    .step-number {
        font-size: 7.4rem;
    }

    .meal-content {
        padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }

    .section-testimonials {
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template-columns: repeat(6, 1fr);
    }

    .cta {
        grid-template-columns: 3fr 2fr;
    }

    .form-cta {
        grid-template-columns: 1fr;
    }

    .form-btn {
        margin-top: 1.2rem;
    }

    .btn-mobile-nav {
        display: block;
    }

    .main-nav {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(255, 255, 255, 0.96);

        width: 100%;
        height: 100vh;

        /* Alternative to display:none */
        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        transition: all 0.5s;

        transform: translateX(100%);
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;

        transform: translateX(0);
    }

    .main-nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .nav-open .icon-mobile-nav[name='close-outline'] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name='menu-outline'] {
        display: none;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 3rem;
    }
}

/* BELOW 704px (smaller Tablets) */

@media (max-width: 44em) {
    .grid--cols-4,
    .grid--cols-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    .meal-diets {
        grid-column: 1 / -1;
        justify-self: center;
    }

    .heading-secondary {
        margin-bottom: 4.8rem;
    }

    .pricing-card {
        width: 100%;
    }

    .footer-grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .nav-col {
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem;
    }

    .logo-col,
    .address-col {
        grid-column: span 2;
    }
}

/* BELOW 544px (phones) */

@media (max-width: 34em) {
    .grid {
        row-gap: 4.8rem;
    }
    .grid--cols-4,
    .grid--cols-3,
    .grid--cols-2 {
        grid-template-columns: 1fr;
    }

    .section-hero {
        padding: 2.4rem 0 6.4rem 0;
    }

    .btn:link,
    .btn:visited {
        padding: 2.4rem 1.6rem;
    }

    .hero-img {
        width: 80%;
    }

    .logos img {
        height: 1.2rem;
    }

    .step-img-box:nth-child(2) {
        grid-row: 1;
    }

    .step-img-box:nth-child(6) {
        grid-row: 5;
    }

    .step-img-box {
        transform: translateY(2.4rem);
    }

    .testimonials {
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
    }

    .cta {
        grid-template-columns: 1fr;
    }

    .cta-img-box {
        height: 32rem;

        grid-row: 1;
    }

    .cta-content-box {
        padding: 3.2rem;
    }
}
