.footer {
    padding: 12.8rem 0;

    border-top: 1px solid #eee;
}

.footer-grid {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
    display: flex;
    flex-direction: column;
}


.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}


.social-links {
    display: flex;
    list-style: none;
    gap: 2.4rem;
}

.social-icon {
    font-size: 2.4rem;
}

.copyright {
    color: #767676;
    font-size: 1.4rem;
    line-height: 1.6;
    margin-top: auto;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.footer-nav {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    font-size: 1.6rem;
    text-decoration: none;
    color: #767676;

    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}