
.section-how {
    padding: 9.6rem 0;
}

.subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #cf711f;
    letter-spacing: 0.75px;
    margin-bottom: 1.6rem;
}

.step-number {
    display: block;
    color: #ddd;
    font-size: 8.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}



.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.step-img-box {
    display: flex;
    justify-content: center;

    position: relative;
}

.step-img-box::before, .step-img-box::after {
    content: "";
    display: block;
    position: absolute;
    /* 60% of padding of the parents height trick */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.step-img-box::before {
    background-color: #fdf2e9;
    width: 60%;
    padding-bottom: 60%;
    z-index: -1;


}

.step-img-box::after {
    background-color: #fae5d3;
    width: 45%;
    padding-bottom: 45%;
    z-index: -1;
}

.step-img {
    width: 35%;
}
