.section-testimonials {
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
}

.testimonials-container {
    padding: 9.6rem;
}

.testimonials {
    display: grid;
    row-gap: 4.8rem;
    column-gap: 8rem;
    grid-template-columns: 1fr 1fr;
}

.testimonial img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-quote {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;
}

/* GALLERY */

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery img {
    /* block -> to get rid of default inline spacing */
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery-item {
    overflow: hidden;
}

.gallery img:hover {
    transform: scale(1.1);
}
